.unidadeCard{
    height: 100%; 
    width: 100%;
    border-radius: .5rem;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.unidadeCardSelectec{
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.infoUnidade{
    width: 33%; 
    max-width: 33%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}